html
    head
        style
            include ../styles/jokes.css
        title Alle jokes
    body
        h1 Alle vores jokes
        div.div1
            div.setup
                include newJoke.pug
            div.dropdown
                form(action='/' method='post')
                    label(for="") Vælg hjemmeside for at se jokes
                    select(name="dropdown" style="width: 100%")
                        each url in urls
                            option(value=url.address) #{url.name}
                    input(type='submit' name='knap')
            div.item1
                each joke in jokes
                    p=joke.setup
                    p=joke.punchline
                    p='*BA DUM TSSS*'
                    br
            div.item2
                if (dropdownlist != null)
                    each joke in dropdownlist
                        p=joke.setup
                        p=joke.punchline
                        p='*BA DUM TSSS*'
                        br